@model BTL_10.Models.DANHMUCBLOG

@{
    ViewBag.Title = "Delete";
}

<h2>Bạn có chắc chắn muốn xóa danh mục này?</h2>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Tên danh mục blog: @Model.TENDANHMUCBLOG</h3>
            <h6 class="card-subtitle">Mã danh mục: @Model.MADANHMUCBLOG</h6><br />
            <div class="row">

                <div class="col-lg-7 col-md-7 col-sm-6">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <button type="submit" class="btn btn-outline-dark btn-rounded mr-1">Xóa</button>
                        </div>
                    }
                    <a href="@Url.Action("Index")">
                        <button class="btn btn-primary btn-rounded">Quay về danh sách danh mục blog</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>