@model IEnumerable<BTL_10.Models.DANHMUCBLOG>

@{
    ViewBag.Title = "Index";
}


<h2>Quản lý danh mục blog</h2>
<div class="modal-footer">
    <div class="text-right">
        <a href="@Url.Action("Create")">
            <button class="btn mb-1 btn-rounded btn-primary"><i class="zmdi zmdi-plus"></i> Thêm danh mục blog</button>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Các danh mục blog</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th>Mã danh mục</th>
                                <th>Tên danh mục</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MADANHMUCBLOG</td>
                                    <td>@item.TENDANHMUCBLOG</td>
                                    <td>
                                        <a href="/Admin/DANHMUCBLOGs/Edit/@item.MADANHMUCBLOG">
                                            <button class="btn mb-1 btn-rounded btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Sửa">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                        </a>
                                        <button class="btn mb-1 btn-rounded btn-outline-dark" id="@item.MADANHMUCBLOG" onclick="deletedmbl(id)" data-toggle="tooltip" data-placement="top" title="Xóa">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Mã danh mục</th>
                                <th>Tên danh mục</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/Admin/Content/js/anhlam/delete.js"></script>