@model BTL_10.Models.PHUONGTIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Tên phương tiện: @Model.TENPHUONGTIEN</h3>
            <h6 class="card-subtitle">Mã phương tiện: @Model.MAPHUONGTIEN</h6><br />
            <div class="row">

                <div class="col-lg-7 col-md-7 col-sm-6">
                    <a href="/Admin/PHUONGTIENs/Edit/@Model.MAPHUONGTIEN">
                        <button class="btn btn-outline-dark btn-rounded mr-1">Sửa</button>
                    </a>
                    <a href="@Url.Action("Index")">
                        <button class="btn btn-primary btn-rounded">Quay về danh sách phương tiện</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>