
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Login.cshtml";
}


<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center" href="#"> <h3>ADMIN</h3></a>

                            <form class="mt-5 mb-5 login-input">
                                <div class="form-group">
                                    <input type="text" name="username" id="username" class="form-control" placeholder="Tên đăng nhập">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Mật khẩu">
                                </div>
                                <button class="btn login-form__btn submit w-100" type="button" onclick="dangnhap()">Đăng nhập</button>
                            </form>
                            <p class="mt-5 login-form__footer">Bạn chưa có tài khoản? <a href="@Url.Action("Register","Login")" class="text-primary">Đăng ký</a> ngay</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    if (@ViewBag.Error != null) {
        toastr.error(
            "Bé nhập sai tài khoản hoặc mật khẩu òi!!",
            "Lỗi nè",
            {
                positionClass: "toast-top-right",
                timeOut: 5e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                preventDuplicates: !0,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1
            })
    }
</script>

<script src="~/Areas/Admin/Content/js/anhlam/checkDN.js"></script>