
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Login.cshtml";
}


<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center" href="#"> <h3>ADMIN</h3></a>

                            <form class="mt-5 mb-5 login-input" action="/Admin/Login/Login" method="post">
                                <div class="form-group">
                                    <input type="text" name="username" class="form-control" placeholder="Tên đăng nhập">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control" placeholder="Mật khẩu">
                                </div>
                                <button class="btn login-form__btn submit w-100" type="submit">Đăng nhập</button>
                            </form>
                            <p class="mt-5 login-form__footer">Bạn chưa có tài khoản? <a href="@Url.Action("Register","Login")" class="text-primary">Đăng ký</a> ngay</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

