@model BTL_10.Models.KHACHSAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Tên khách sạn: @Model.TENKS</h3>
            <h6 class="card-subtitle">Mã khách sạn: @Model.MAKS</h6><br />
            <div class="row">

                <div class="col-lg-7 col-md-7 col-sm-6">
                    <p>Địa chỉ: @Model.DIACHI</p>
                    <a href="/Admin/KHACHSANs/Edit/@Model.MAKS">
                        <button class="btn btn-outline-dark btn-rounded mr-1">Sửa</button>
                    </a>
                    <a href="@Url.Action("Index")">
                        <button class="btn btn-primary btn-rounded">Quay về danh sách khách sạn</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>